@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --cor0: #0e0e0e;
    --cor1: #404040;
    --cor2: #737373;
    --cor3: #A6A6A6;
    --cor4: #D9D9D9;
    --cor5: #F2F2F2;
    --cor6: #FFFFFF;
    --corh: #C40011;
}

body {
    padding: 0px;
    margin: 0px;
    line-height: normal;
    font-family: 'Rubik', sans-serif;
    background-color: var(--cor5);
    color: var(--corh);
}

header {
margin-top: -40px;
background-color: var(--cor5);
font-family: 'Poppins', sans-serif;
box-shadow: 5px 5px 2px #cecece;
}

p.header {
    padding-left: 40px;
    font-size: 40px;
    color: var(--corh);
   text-overflow: clip;
}

ul.header {
    list-style-type: none;
    columns: 5;
    position: relative;
    font-weight: 600;
}

a{
    color: var(--corh);
    text-decoration: none;
}

p.texto1 {
    font-size: 30px;
    margin-left: 30px;
}

a:hover {
color: var(--cor5);
background-color: var(--corh);
}

footer {
    background-color: var(--corh);
    color: var(--cor5);
    height: 40px;
}

p.footer{
    margin-top: 10px;
    margin: 5px;
}

a.footer{
    margin: 5px;
    text-decoration: underline;
    color: var(--cor5);
}

div.caixas {
    display: inline-block;
    background-color: var(--cor6);
    width: 220px;
    height: 600px;
    margin: 34px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px #c5c5c5;
    border: rgb(216, 216, 216);
    border-width: 5px;
    border-style: solid;
    position: relative;
}

div.img1{    
    background-image: url(img/stratocaster.jpg);
    width: 150px;
    height: 520px;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 10px;
}

div.img2 {
    background-image: url(img/telecaster.jpg);
    width: 150px;
    height: 520px;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 10px;
}

div.img3 {
    background-image: url(img/meteora.jpg);
    width: 150px;
    height: 520px;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 10px;
}

div.img4 {
    background-image: url(img/jazzmaster.jpg);
    width: 150px;
    height: 520px;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 10px;
}

div.caixastexto{
    color: var(--corh);
    margin: auto;
}
